* {
  box-sizing: border-box;
}
.container {
  width: 768px;
  margin: auto;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.container > .row {
  width: 100%;
  margin-right: -15px !important;
  margin-left: -15px !important;
}
.container > .row:before,
.container > .row:after {
  content: "";
  display: block;
}
.container > .row:after {
  content: "";
  clear: both;
  line-height: 0;
  height: 0;
  display: block;
}
.container-fluid {
  display: block;
  width: 100%;
  margin: auto;
}
.container-fluid > .row {
  display: block;
  width: 100%;
}
.container-fluid > .row:before,
.container-fluid > .row:after {
  content: "";
  display: block;
}
.container-fluid > .row:after {
  content: "";
  clear: both;
  line-height: 0;
  height: 0;
  display: block;
}
.container > .row:before,
.container > .row:after,
.container-fluid > .row:before,
.container-fluid > .row:after {
  content: "";
  display: block;
}
.container > .row:after,
.container-fluid > .row:after {
  clear: both;
}
[class*='col-'] {
  display: block;
  float: left;
}
.container > .row.col-s-1 {
  float: left;
  width: 5%;
}
.container-fluid > .row > .col-s-1 {
  float: left;
  width: 5%;
}
.container > .row.col-s-2 {
  float: left;
  width: 10%;
}
.container-fluid > .row > .col-s-2 {
  float: left;
  width: 10%;
}
.container > .row.col-s-3 {
  float: left;
  width: 15%;
}
.container-fluid > .row > .col-s-3 {
  float: left;
  width: 15%;
}
.container > .row.col-s-4 {
  float: left;
  width: 20%;
}
.container-fluid > .row > .col-s-4 {
  float: left;
  width: 20%;
}
.container > .row.col-s-5 {
  float: left;
  width: 25%;
}
.container-fluid > .row > .col-s-5 {
  float: left;
  width: 25%;
}
.container > .row.col-s-6 {
  float: left;
  width: 30%;
}
.container-fluid > .row > .col-s-6 {
  float: left;
  width: 30%;
}
.container > .row.col-s-7 {
  float: left;
  width: 35%;
}
.container-fluid > .row > .col-s-7 {
  float: left;
  width: 35%;
}
.container > .row.col-s-8 {
  float: left;
  width: 40%;
}
.container-fluid > .row > .col-s-8 {
  float: left;
  width: 40%;
}
.container > .row.col-s-9 {
  float: left;
  width: 45%;
}
.container-fluid > .row > .col-s-9 {
  float: left;
  width: 45%;
}
.container > .row.col-s-10 {
  float: left;
  width: 50%;
}
.container-fluid > .row > .col-s-10 {
  float: left;
  width: 50%;
}
.container > .row.col-s-11 {
  float: left;
  width: 55%;
}
.container-fluid > .row > .col-s-11 {
  float: left;
  width: 55%;
}
.container > .row.col-s-12 {
  float: left;
  width: 60%;
}
.container-fluid > .row > .col-s-12 {
  float: left;
  width: 60%;
}
.container > .row.col-s-13 {
  float: left;
  width: 65%;
}
.container-fluid > .row > .col-s-13 {
  float: left;
  width: 65%;
}
.container > .row.col-s-14 {
  float: left;
  width: 70%;
}
.container-fluid > .row > .col-s-14 {
  float: left;
  width: 70%;
}
.container > .row.col-s-15 {
  float: left;
  width: 75%;
}
.container-fluid > .row > .col-s-15 {
  float: left;
  width: 75%;
}
.container > .row.col-s-16 {
  float: left;
  width: 80%;
}
.container-fluid > .row > .col-s-16 {
  float: left;
  width: 80%;
}
.container > .row.col-s-17 {
  float: left;
  width: 85%;
}
.container-fluid > .row > .col-s-17 {
  float: left;
  width: 85%;
}
.container > .row.col-s-18 {
  float: left;
  width: 90%;
}
.container-fluid > .row > .col-s-18 {
  float: left;
  width: 90%;
}
.container > .row.col-s-19 {
  float: left;
  width: 95%;
}
.container-fluid > .row > .col-s-19 {
  float: left;
  width: 95%;
}
.container > .row.col-s-20 {
  float: left;
  width: 100%;
}
.container-fluid > .row > .col-s-20 {
  float: left;
  width: 100%;
}
.col-s-hide {
  display: none;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: auto;
  }
  .container > .row.col-m-1 {
    float: left;
    width: 5%;
  }
  .container-fluid > .row > .col-m-1 {
    float: left;
    width: 5%;
  }
  .container > .row.col-m-2 {
    float: left;
    width: 10%;
  }
  .container-fluid > .row > .col-m-2 {
    float: left;
    width: 10%;
  }
  .container > .row.col-m-3 {
    float: left;
    width: 15%;
  }
  .container-fluid > .row > .col-m-3 {
    float: left;
    width: 15%;
  }
  .container > .row.col-m-4 {
    float: left;
    width: 20%;
  }
  .container-fluid > .row > .col-m-4 {
    float: left;
    width: 20%;
  }
  .container > .row.col-m-5 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-m-5 {
    float: left;
    width: 25%;
  }
  .container > .row.col-m-6 {
    float: left;
    width: 30%;
  }
  .container-fluid > .row > .col-m-6 {
    float: left;
    width: 30%;
  }
  .container > .row.col-m-7 {
    float: left;
    width: 35%;
  }
  .container-fluid > .row > .col-m-7 {
    float: left;
    width: 35%;
  }
  .container > .row.col-m-8 {
    float: left;
    width: 40%;
  }
  .container-fluid > .row > .col-m-8 {
    float: left;
    width: 40%;
  }
  .container > .row.col-m-9 {
    float: left;
    width: 45%;
  }
  .container-fluid > .row > .col-m-9 {
    float: left;
    width: 45%;
  }
  .container > .row.col-m-10 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-m-10 {
    float: left;
    width: 50%;
  }
  .container > .row.col-m-11 {
    float: left;
    width: 55%;
  }
  .container-fluid > .row > .col-m-11 {
    float: left;
    width: 55%;
  }
  .container > .row.col-m-12 {
    float: left;
    width: 60%;
  }
  .container-fluid > .row > .col-m-12 {
    float: left;
    width: 60%;
  }
  .container > .row.col-m-13 {
    float: left;
    width: 65%;
  }
  .container-fluid > .row > .col-m-13 {
    float: left;
    width: 65%;
  }
  .container > .row.col-m-14 {
    float: left;
    width: 70%;
  }
  .container-fluid > .row > .col-m-14 {
    float: left;
    width: 70%;
  }
  .container > .row.col-m-15 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-m-15 {
    float: left;
    width: 75%;
  }
  .container > .row.col-m-16 {
    float: left;
    width: 80%;
  }
  .container-fluid > .row > .col-m-16 {
    float: left;
    width: 80%;
  }
  .container > .row.col-m-17 {
    float: left;
    width: 85%;
  }
  .container-fluid > .row > .col-m-17 {
    float: left;
    width: 85%;
  }
  .container > .row.col-m-18 {
    float: left;
    width: 90%;
  }
  .container-fluid > .row > .col-m-18 {
    float: left;
    width: 90%;
  }
  .container > .row.col-m-19 {
    float: left;
    width: 95%;
  }
  .container-fluid > .row > .col-m-19 {
    float: left;
    width: 95%;
  }
  .container > .row.col-m-20 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-m-20 {
    float: left;
    width: 100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-l-hide {
    display: block;
  }
  .col-m-hide {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: auto;
  }
  .container > .row.col-l-1 {
    float: left;
    width: 5%;
  }
  .container-fluid > .row > .col-l-1 {
    float: left;
    width: 5%;
  }
  .container > .row.col-l-2 {
    float: left;
    width: 10%;
  }
  .container-fluid > .row > .col-l-2 {
    float: left;
    width: 10%;
  }
  .container > .row.col-l-3 {
    float: left;
    width: 15%;
  }
  .container-fluid > .row > .col-l-3 {
    float: left;
    width: 15%;
  }
  .container > .row.col-l-4 {
    float: left;
    width: 20%;
  }
  .container-fluid > .row > .col-l-4 {
    float: left;
    width: 20%;
  }
  .container > .row.col-l-5 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-l-5 {
    float: left;
    width: 25%;
  }
  .container > .row.col-l-6 {
    float: left;
    width: 30%;
  }
  .container-fluid > .row > .col-l-6 {
    float: left;
    width: 30%;
  }
  .container > .row.col-l-7 {
    float: left;
    width: 35%;
  }
  .container-fluid > .row > .col-l-7 {
    float: left;
    width: 35%;
  }
  .container > .row.col-l-8 {
    float: left;
    width: 40%;
  }
  .container-fluid > .row > .col-l-8 {
    float: left;
    width: 40%;
  }
  .container > .row.col-l-9 {
    float: left;
    width: 45%;
  }
  .container-fluid > .row > .col-l-9 {
    float: left;
    width: 45%;
  }
  .container > .row.col-l-10 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-l-10 {
    float: left;
    width: 50%;
  }
  .container > .row.col-l-11 {
    float: left;
    width: 55%;
  }
  .container-fluid > .row > .col-l-11 {
    float: left;
    width: 55%;
  }
  .container > .row.col-l-12 {
    float: left;
    width: 60%;
  }
  .container-fluid > .row > .col-l-12 {
    float: left;
    width: 60%;
  }
  .container > .row.col-l-13 {
    float: left;
    width: 65%;
  }
  .container-fluid > .row > .col-l-13 {
    float: left;
    width: 65%;
  }
  .container > .row.col-l-14 {
    float: left;
    width: 70%;
  }
  .container-fluid > .row > .col-l-14 {
    float: left;
    width: 70%;
  }
  .container > .row.col-l-15 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-l-15 {
    float: left;
    width: 75%;
  }
  .container > .row.col-l-16 {
    float: left;
    width: 80%;
  }
  .container-fluid > .row > .col-l-16 {
    float: left;
    width: 80%;
  }
  .container > .row.col-l-17 {
    float: left;
    width: 85%;
  }
  .container-fluid > .row > .col-l-17 {
    float: left;
    width: 85%;
  }
  .container > .row.col-l-18 {
    float: left;
    width: 90%;
  }
  .container-fluid > .row > .col-l-18 {
    float: left;
    width: 90%;
  }
  .container > .row.col-l-19 {
    float: left;
    width: 95%;
  }
  .container-fluid > .row > .col-l-19 {
    float: left;
    width: 95%;
  }
  .container > .row.col-l-20 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-l-20 {
    float: left;
    width: 100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-m-hide {
    display: block;
  }
  .col-l-hide {
    display: none;
  }
}
[img-response] {
  max-width: 100%;
}
[block-center] {
  display: block;
  margin-left: auto!important;
  margin-right: auto!important;
}
[text-center] {
  text-align: center;
}
